@import "tailwindcss";


@tailwind utilities;



@layer components {
  .btn-primary {
    @apply inline-flex items-center gap-2 px-4 py-2 rounded-md font-semibold bg-blue-600 text-white hover:bg-blue-700 transition-colors;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary-color: 34, 193, 195;
    --secondary-color: 253, 187, 45;
  }
}

@layer utilities {
    .clip-text{
        @apply text-transparent bg-clip-text;
    }
}


